---
type Props = {
  title?: string;
  description?: string;
  image?: string;
};
const { title, description, image } = Astro.props;

const META = {
  title: title || "Curated by Alex Carpenter",
  description:
    description ||
    "Weekly curated items including design inspiration, tools, and resources.",
  image: image || "/og.jpg",
};
---

<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{META.title}</title>
    <meta name="title" content={META.title} />
    <meta name="description" content={META.description} />
    <meta property="og:title" content={META.title} />
    <meta property="og:description" content={META.description} />
    <meta property="og:image" content={new URL(META.image, Astro.url)} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={META.title} />
    <meta property="twitter:description" content={META.description} />
    <meta property="twitter:image" content={new URL(META.image, Astro.url)} />
  </head>
  <body>
    <slot />
    <svg
      class="logomark"
      aria-label="~/curated"
      fill="none"
      viewBox="0 0 935 186"
      ><path
        fill="#fff"
        d="M859.11 163.4c-29.6 0-43.6-24.4-43.6-52.8 0-28.2 14-52.4 43.6-52.4 25.2 0 34.2 12.8 39.4 25.8h8.6l-6.6-19V14.4h34.2v147h-34.2v-4.8l6.6-19.2h-8.6c-5.2 13.2-14.2 26-39.4 26Zm-9.4-52.8c0 15.8 8.8 22.6 25.6 22.6s25.2-6.6 25.2-22.6c0-15.6-8.4-22.2-25.2-22.2-16.8 0-25.6 6.6-25.6 22.2ZM702.593 110.4c0-32.6 22.4-52.2 53.8-52.2 35 0 55.2 19 55.2 50.8v9h-74.6c1.2 12.6 8.6 19.6 21 19.6 10.6 0 17.8-4.2 19.8-12h34c-2.8 22.4-22.6 37.8-53.8 37.8-34.2 0-55.4-21.4-55.4-53Zm34.4-10h41.2c-1-11.2-8.8-17.4-20.8-17.4-11.8 0-19.6 6.2-20.4 17.4ZM702.411 131.2v30.2h-54.4c-11.2 0-17.4-6.2-17.4-17.6V90.4h-24.4V60.2h24.4v-18l34.2-10.8v28.8h33.6v30.2h-33.6v41l37.6-.2ZM495.369 133.8c0-17.6 10.2-28 41.2-31.2l30.8-3.4c0-10.6-6-14.8-17.6-14.8-12.4 0-19.4 5.2-19.8 14.2h-32.2c.6-26.6 23-40.4 50.8-40.4 28 0 53.2 12.6 53.2 41.8v31.2h14.6v30.2h-23.2c-9.8 0-15.6-5.6-15.6-15.4v-1l5.4-12.2h-8.4c-3.8 16.4-13.4 30.6-41.8 30.6-32 0-37.4-19.2-37.4-29.6Zm33.6-5.8c0 6.6 6 8.2 12.6 8.2 14.2 0 25.8-7.6 25.8-19.8l-24.4 3.6c-9 1.4-14 2.4-14 8Z"
      ></path><path
        fill="#fff"
        d="M413.052 77.6c0-11.4 6.4-17.4 17.8-17.4h67.8v30.2h-51.2v71h-34.4V77.6ZM330.369 163.4c-26.2 0-42.2-17.4-42.2-49.4V60.2h34.4v48.2c0 18.2 5 24.8 20.2 24.8 16.6 0 27.8-7.8 27.8-36.4V60.2h34.2v101.2h-34.2V150l6.4-19h-8.4c-4 18-16.6 32.4-38.2 32.4ZM171.89 110.6c0-34.4 23.6-52.4 55.8-52.4 29 0 54.2 16 55.4 44.4h-34.4c-1-7.6-8.4-14.2-21-14.2-12 0-21.6 7.6-21.6 22.2 0 14.8 9.6 22.6 21.6 22.6 12.6 0 20-6.6 21-14.2h34.4c-1.2 28.4-26.4 44.4-55.4 44.4-32.2 0-55.8-18.2-55.8-52.8ZM173.152 0l25.4 11.2-82.2 174-25.4-11.4L173.152 0ZM0 128c0-26 10.8-42 29-42 19.6 0 33.2 15.8 43.6 15.8 6.4 0 9-4 9-16h25.6c0 26-10.8 41.8-29.2 41.8-19.4 0-33-15.8-43.4-15.8-6.4 0-9 4.2-9 16.2H0Z"
      ></path></svg
    >
  </body>
</html>

<style is:global>
  :root {
    --accent: oklch(0.452 0.313214 264.052);
    /* --accent: oklch(0.6696 0.222 37.42); */
    --gray-500: oklch(55.1% 0.027 264.364);
    --gray-800: oklch(27.8% 0.033 256.848);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    padding: 1rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.5;
    background-color: oklch(96.7% 0.003 264.542);
  }
</style>

<style>
  .logomark {
    margin-block-start: 1rem;
  }
</style>
