---
const META = {
  title: "Curated by Alex Carpenter",
  description:
    "Weekly curated items including design inspiration, tools, and resources.",
  image: "/og.jpg",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{META.title}</title>
    <meta name="title" content={META.title} />
    <meta name="description" content={META.description} />
    <meta property="og:title" content={META.title} />
    <meta property="og:description" content={META.description} />
    <meta property="og:image" content={new URL(META.image, Astro.url)} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={META.title} />
    <meta property="twitter:description" content={META.description} />
    <meta property="twitter:image" content={new URL(META.image, Astro.url)} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: oklch(0.452 0.313214 264.052);
    --gray-500: oklch(55.1% 0.027 264.364);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    background-color: oklch(96.7% 0.003 264.542);
  }
</style>
